* {
    font-family: sans-serif;
}
h5{
    background-color: grey;
    color: goldenrod;
}

fieldset{
    background-color: darkblue;    
}

legend{
    background-color: white;
    color: red;
}

h3 a, #fundo-azul-escuro{
    color: white;
}